/* Universal Styles */

html {
  font-family: "roboto", sans-serif;
  font-size: 16px;
  background-color: rgb(243, 245, 245);
}

.main-content {
  position: relative;
  top: 64px;
  top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

/* Header */

header {
  position: fixed;
  z-index: 90;
  width: 100%;
  background-color: white;
}
header .content { /* flex (parent) grow (child) */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 24px;
  margin: 0 1.5rem;
  padding: 16px 0;
  padding: 1rem 0;
}

header .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; /* ( flex-grow ) */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
  height: 2rem;
}

header span {
  text-transform: uppercase;
  font-weight: 600;
}

header .content span:nth-child(2n+1) {
  color: gray;
  font-weight: 400;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav button {
  margin-left: 16px;
  margin-left: 1rem;
  border: none;
  background-color: unset;
  padding: unset;
}

nav a {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.6;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 1000px) { /* mobile version */
  header .desktop {
    display: none;
  }
  header .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 2rem;
  }
  header .content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header {
    margin: 0 auto;
  }
  nav button {
  margin: 0 auto;
  }
  nav button img {
    vertical-align: bottom;
  }
}

/* Banner */
#banner.content {
  width: 100%;
  background-color: rgb(152, 152, 152); /**/
}

#banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 32px 0 32px 24px;
  margin: 2rem 0 2rem 1.5rem;
}

#banner img {
  max-width: 60%;
  margin-right: 24px;
  margin-right: 1.5rem;
}

.right.box {
  max-width: 368px;
  max-width: 23rem;
  margin-right: 24px;
  margin-right: 1.5rem;
}

#banner h1 {
  font-weight: 700;
  font-size: 48px;
  font-size: 3rem;
  line-height: 1.1;
}

#banner h2 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.4;
  padding: 24px 0;
  padding: 1.5rem 0;
}

#banner button {
  font-size: 16px;
  font-size: 1.7rem; /**/
  text-align: center;
  color: white;
  background-color: black;
  padding: 8px 0;
  padding: 0.5rem 0;
  width: 100%;
  border: unset;
  -webkit-transition: background-color 0.5s linear,
    color 750ms ease-in 100ms;
  transition: background-color 0.5s linear,
    color 750ms ease-in 100ms;
}

#banner button a {
  color: white;
  font-weight: bold;
}

#banner button:hover {
  background-color: gold;
  color:black;
}

#banner button a:hover {
  color:black;
}

@media only screen and (max-width: 1020px) {
  .right.box {
    max-width:  19rem;
    min-width: 15rem;
  }
  #banner h1 {
  font-size: 2.5rem;
  line-height: 1.1;
  }
  #banner h2 {
    font-size: 1.4rem;
    line-height: 1.4;
  }
}
/*@media only screen and (max-width: 775px) {
  .right.box {
    min-width: 14rem;
  }
  #banner h1 {
  font-size: 2.2rem;
  }
  #banner h2 {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 720px) {
  .right.box {
    min-width: 10rem;
  }
  #banner h1 {
  font-size: 2rem;
  }
  #banner h2 {
    font-size: 1rem;
  }
}*/

@media only screen and (max-width: 1000px) { /* mobile version */
  #banner .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start;
  margin: 0 auto 2rem auto;
  }
  #banner img {
  max-width: 100%;
  margin: 0;
  }
  .right.box {
    margin-right: 1rem;;
    margin-left: 1rem;
    max-width: 100%;
  }
  #banner h1 {
  font-size: 2.2rem;
  line-height: 1.1;
  margin: 2rem 0;
  }
  #banner h2 {
  font-size: 1.2rem;
  line-height: 1.4;
  padding: unset;
  padding-bottom: 1.5rem;
  }
  #banner button {
    font-weight: bolder;
    background-color: gray;
    margin-right: 1rem;
  }
}

/* Articles */

#article.content {
  width: 100%;
  margin: 32px 0 32px 24px;
  margin: 2rem 0 2rem 1.5rem;
}

/* CONTAINER LEFT */

#article .container.left {
  position: absolute;
}

#article img {
  max-width: 60%;
}

.text-below {
  position: relative;
  top: -0.2rem; /* fit, fitting */
  max-width: 60%;
  margin: 2rem 0;
  margin:  2rem 0 0 0;
  position:relative;
  z-index: 50;
}

.text-below .title {
  font-size: 2rem;
  font-weight:bold;
}

.text-below .text {
  margin: 1.5rem 0 0 0;
  line-height: 1.6rem;
}

.text-below .author {
  font-size: 0.9rem;
  margin-top: 2.5rem; /* fit, fitting */
}
/*
@media only screen and (max-width: 1400px) {
  .text-below .title {
    font-size: 1.8rem;
  }
  .text-below .text {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .text-below .author {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 1280px) {
  .text-below {
    max-width: 60%;
  }
  .text-below .title {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 1010px) {
  .text-below .title {
    font-size: 1.7rem;
  }
  .text-below .text {
    font-size: 0.85rem;
  }
  .text-below .author {
    margin-top: 1rem; /* fit, fitting */
    /*font-size: 0.8rem;
  }
}*/
@media only screen and (max-width: 1000px) { /* mobile version */
  #article .container.left {
    display: none;
  }
}

/* CONTAINER RIGHT - (overlap .container.left - I need get set a 60% image and a 40% articles frame, in the same section.
Please, let me know if there are another ways) ) */

#article .container.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: -16px;
  top: -1rem; /* fit, fitting */
  left: 8px;
  left: 0.5rem; /* I put this because if you put -1rem, show just beside the image and the frame. So 16px + 8px must be 24px (sum of horizontal spaces)
                    Please, let me know if there are another way, more accuracy */
}

#article .container.right .frame {
  max-width: 40%;
}

#article a {
  color: blue;
}

#news article:nth-child(3n+0) {
  background-color: lightgray;
}

#news .article.three .featured {/**/
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  background-color: lightcyan;
  padding: 0.1rem 0.5rem;
  border-radius: 0.4rem; /**/
}

#article .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  transition: background-color 0.3s linear; /**/
}

#article .article:hover { /**/
  background-color: rgb(152, 152, 152);
  font-weight: bold;
}

#article .container.right img {
  max-width: 35%;
  margin: 16px;
  margin: 1rem;
}

#article img.mobile {
  display: none;
}

#article .container.right .info {
  max-width: 65%;
  margin: auto 80px auto 0;
  margin: auto 5rem auto 0;
}

#article .container.right .title {
  font-size: 1.1rem; /**/
  font-weight: bolder;
}

#article .container.right .note {
  margin: 8px 0;
  margin: 0.5rem 0;
}

#article #news .article.one {
  border-bottom: 1px solid darkgray;
}

@media only screen and (max-width: 1400px) {
  #article .container.right {
    margin-bottom: 0.5rem;
  }
}

@media only screen and (max-width: 920px) {
  #article .container.right {
    margin-bottom: 2rem;
    font-size: 0.95rem;
  }
  #article .info {
    margin: auto 3rem auto 0;
  }
}

/*@media only screen and (max-width: 800px) {
  #article .container.right .info  {
    max-width: 65%;
    margin: 1rem 3rem 1rem 0;
    font-size: 0.9rem;
  }
  #article .container.right {
    margin-bottom: 2rem;
  }
}*/

@media only screen and (max-width: 1000px) { /* mobile version */
  #article .container.right {
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    top: 0;
    left: 0rem;
  }
  #article .container.right .frame {
    max-width: 100%;
  }
  #article .container.right .article {
    display: block;
    margin: 1rem 1rem 4rem 1rem;
    background-color: unset;
  }
  #article.content {
    margin: 0;
  }
  #article .container.right .article .desktop {
    display: none;
  }
  #article .container.right .article .mobile {
    display: block;
    max-width: 100%;
    margin: unset;
  }
  #article .container.right .info  {
    margin: 1rem 1rem 3rem 1rem;
    font-size: 1rem;
    max-width: 100%;
    margin-bottom: unset;
  }
  #article #news .article.one {
    border-bottom: unset;
  }
  #article #news .article.three {
    margin-bottom: unset;
    padding-top: 1rem;
  }
  #news .article.three .featured {/**/
  font-size: 0.8rem;
  margin-left: 0.5rem;
  }
}
@media only screen and (max-width: 300px) {
  #article .container.right .info  {
    font-size: 0.9rem;
  }
}

/* Courses */

#courses {
  width: 100%;
  background-color: rgb(0, 116, 116); /**/
  padding: 2rem 0 1rem 0;
}

#courses .headline {
  font-size: 2.8rem; /**/
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
  color: white;
}

.catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 3.5rem; /* sum of horizontal margin, 56px + 16px= 72px */
}

.catalog.mobile {
  display: none;
}

#courses .item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 28rem;
  height:  auto;
  overflow: hidden;
  background-color: white;
  margin: 1rem;   /* I supposed setting 16px + 16px= 32px, (sum of horizontal margin) but it is not exact what I want
                  Please let me know if there are another chances, more accuracy. */
  transition: background-color 0.4s linear, /**/
    color 0.4s ease-in 100ms;

}

#courses .item:hover {
  background-color: gold;
  color: blue;
}

#courses img {
  max-width: 100%;
  height: auto; /* it is not necessary?? */
}

#courses .text {
  width: 59%;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}

#courses .career {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1rem;
}

#courses .type {
  text-transform: uppercase;
  margin: 0.5rem 0;
}

@media only screen and (max-width: 1400px) {
  .description {
    font-size: 0.9rem;
  }
  #courses .text {
    width: 68%;
  }
  #courses .item {
    max-width: 20rem;/**/
  }
  #courses img {
    max-width: 100%;
  }
}
@media only screen and (max-width: 1280px) {
  #courses {
    top: -1.95rem;                              /**/
  }
}
/*
@media only screen and (max-width: 1185px) {
  #courses .item {
    max-width: 18rem;
  }
}
@media only screen and (max-width: 1090px) {
  #courses .item {
    max-width: 16rem;
  }
}
@media only screen and (max-width: 995px) {
  #courses .item {
    max-width: 15rem;
  }
}
@media only screen and (max-width: 950px) {
  #courses .item {
    max-width: 14rem;
  }
}
@media only screen and (max-width: 900px) {
  #courses .item {
    max-width: 20rem;
  }
}
@media only screen and (max-width: 835px) {
  #courses .item {
    max-width: 18rem;
  }
}
@media only screen and (max-width: 770px) {
  #courses .item {
    max-width: 16rem;
  }
}*/
@media only screen and (max-width: 1000px){ /* mobile version */
  .catalog.desktop {
    display: none;
  }
  .catalog.mobile {
    display: block;
  }
  #courses {
    padding: unset;
    padding: 2rem 0 1.5rem 0; /* sum of spaces, 32px= 24px+8px*/
    background-color: rgb(0, 116, 116); /**/
  }
  #courses .headline { /**/
    font-size: 2.5rem;
  }

  .catalog.mobile h3{
    font-size: 1.4rem; /**/
    font-weight: bold;
    background-color: lightgray;
    border-radius: 0.4rem; /**/
    padding: 1rem 0 1.5rem 1rem;
    transition: background-color 0.4s linear, /**/
    color 0.4s ease-in 100ms;
  }
  .catalog.mobile h3:hover { /**/
    background-color: gold;
    color: blue;
  }
  .catalog.mobile li {
    margin-bottom: 0.5rem;
  }
}

/* Video */

/* CONTAINER LEFT */

#video.content {
  width: 100%;
  position: relative;
  margin: 32px 0 32px 24px;
  margin: 2rem 0 2rem 1.5rem;
}

#video .headline {
  font-size: 40px;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

#video .container.left {
  position: absolute;
  margin-right: 24px;
  margin-right:  1.5rem;
}

#video .thesis {
  max-width: 60%;
  position: relative;
  z-index: 50;
}

#video .text-below {
  margin: unset;
  margin: 24px 0 32px 0;
  margin: 1.5rem 0 2rem 0;
}

#video .text-below .text{
  margin: unset;
  margin-top: 8px;
  margin-top: 0.5rem;
}

/* CONTAINER RIGHT - overlap the .container.left */

#video .container.right {
  margin-bottom: 168px;
  margin-bottom: 10.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  left: 8px;
  left: 0.5rem; /* fit, fitting */
}

#video .container.right .frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 40%;
}

#videos #news {
  margin-left: 16px;
  margin-left: 1rem;
  padding-top: 16px;
  padding-top: 1rem;
}

#video #news article:nth-child(odd) {
  background-color: lightgray ;
}

#video .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  transition: background-color 0.3s linear; /**/
}

#video .article:hover { /**/
  background-color: rgb(152, 152, 152);
  font-weight: bold;
}

#video .container.right img {
  max-width: 35%;
  margin: 16px;
  margin: 1rem;
}

#video .container.right .info {
  width: 65%;
  margin: auto 80px auto 0;
  margin: auto 5rem auto 0;
}

#video .container.right .title {
  font-size: 1.1rem;   /**/
  font-weight: bolder;
}

#video .container.right .note {
  margin: 8px 0;
  margin: 0.5rem 0;
}

@media only screen and (max-width: 1000px){
  #video.content {
    margin: 2rem 0 1.5rem 0;
  }
  #video .container.left {
    display: block;
    position: unset;
    margin: 0;

    overflow: hidden;
    margin-bottom: 1.5rem;
}
  #video .headline {
    margin-bottom: 1rem;
  }
  #video .text-below {
    display: none;
  }
  #video .thesis {
    max-width: 100%;
    position: relative;
  }
  #video .container.right {
    display: none;
  }
}

/* footer */

footer {
  border-top: 1px solid gray;
  position: relative;
  top: 4rem;/* fit, fitting */
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 4rem;
}

footer span {
  margin-left: 1.5rem;
  flex-grow: 1;
}

footer span, a {
  margin-top: 1rem;
}

footer a {
  margin-right: 1.5rem;
}

@media only screen and (max-width: 1400px) {
  footer {
    top: 4rem;/* fit, fitting */
    padding-bottom: 2.5rem;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 1000px) { /* mobile version */
  footer {
    top: 2.4rem;/* fit, fitting */
    padding: 1rem 0;|
    font-size: 0.9rem;
  }
  footer span {
    margin-top: unset;
  }
  footer a {
    display: none;
  }
}

/* medidor de pantalla
.contentcontainer {
  position: fixed;
  z-index: 300;
  width: 100%;
  background-color: darkgreen;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.itempru {
  width: 100px;
  height: 100px;
  background-color: gold;
  border: 0.25rem dotted white;
}

          <div class="contentcontainer">
            <div class="itempru">
            </div>
            <div class="itempru">
            </div>
            <div class="itempru">
            </div>
            <div class="itempru">
            </div>
            <div class="itempru">
            </div>
            <div class="itempru">
            </div>
            <div class="itempru">
            </div>
            <div class="itempru">
            </div>
            <div class="itempru">
            </div>
            <div class="itempru">
            </div>
            <div class="itempru">
            </div>
            <div class="itempru">
            </div>
            <div class="itempru">
            </div>
            <div class="itempru">
            </div>
            <div class="itempru">
            </div>
            <div class="itempru">
            </div>
            <div class="itempru">
            </div>
            <div class="itempru">
            </div>
            <div class="itempru">
            </div>
            <div class="itempru">
            </div>
          </div>
*/
